/*****************************************/
/*** Feuille de style Alligator NEWS  ***/
/***   ~ Thème global de la page ~   ***/
/***    Copyright: LÉPINE Thomas    ***/
/*************************************/

/* Thème SPÉCIAL best-off (anniversaires) */

:root {

  /*** PALETTE ***/
  --background: #007965;
  --background-clair: #00af91;
  --background-fonce: #003D33;
  --background-articles: #f7f3e9;
  --color-major: #ffcc29;
  --color-major-clair: #FFDF75;
  --color-major-fonce: #BF9A1F;
  /*** ******* ***/

  /* Navbar */
  --pantone486C: var(--color-major-clair);
  --navbar-hover: var(--color-major-fonce); /* Couleur hover navbar */
  --navbar-text: var(--background); /* Couleur textes navbar */
  --navbar-text-hover: var(--background-fonce); /* Couleur textes navbar en hover (souris sur la case) */

  /* Titres header */
  --title-color: var(--color-major-clair); /* Couleur du grand titre */
  --shadow-color: none; /* Couleur des ombres */
  --title-span-color: var(--color-major-clair); /* Couleur titre "span" -> sans pubs et sans cookies */

  /* Corps de la page */
  --background-header-color: var(--background); /* Couleur (background) du header */
  --background-color: var(--background); /* Couleur du fond global */
  --background-article-color: var(--background-articles); /* Fond des articles */

   /* Footer */
   --background-footer-color: #333; /* Fond du footer */
   --text1-footer: #fff; /* Textes footer (important) */ 
   --text2-footer: #C8C8C8;; /* Textes footer */
  
  /* Polices d'écritures */
  --polices-global: Calibri, Arial, sans-serif;
  --police-titre: festif_font, Arno Pro, Tribun ADF Std, serif;
}

/*** POLICE D'ÉCRITURE POUR LE THEME : ***/
@font-face {
  font-family: "festif_font";
  src: url("../../ressources/images/global/themes/best-off/vintage1.otf");
}

/*** REDEFINITION DE CLASSES CSS POUR LE THEME : ***/
@media screen and (min-width: 768px){ /* Resolution d'une fenêtre sur un PC / tablette */
  .EditionBlockWraped article {
    /* Permet d'ajuster la taille des articles selon le contenu */
    margin: auto auto;
    height: max-content;
  }
}
@media screen and (max-width: 768px) { /* Resolution d'un  portable  */
  .titre p {
    padding: 2px 50px;
  }
}