/************************************/
/* Feuille de style Alligator NEWS  */
/* ~ Thème global de la page ~      */
/* Copyright :  LÉPINE Thomas       */
/************************************/

/* Thème CLASSIQUE */

:root {
  /* Navbar */
  --pantone486C: #E8927C; /* Pantone 486C -> rose Saumon Polytech Angers */
  --navbar-hover: #B57160; /* Couleur secondaire navbar */
  --navbar-text: #000; /* Couleur textes navbar */

  /* Titres header */
  --title-color: #fff; /* Couleur du grand titre */
  --shadow-color: #000; /* Couleur des ombres */
  --title-span-color: #C8C8C8; /* Couleur titre "span" -> sans pubs et sans cookies */

  /* Corps de la page */
  --background-header-color: #004875; /* Couleur (background) du header */
  --background-color: #004875; /* Couleur du fond global */
  --background-article-color: #FDF5E6; /* Fond des articles */ 

  /* Footer */
  --background-footer-color: #333; /* Fond du footer */
  --text1-footer: #fff; /* Textes footer (important) */ 
  --text2-footer: #C8C8C8;; /* Textes footer */

   /* Polices d'écritures */
   --polices-global: Calibri, Arial, sans-serif;
   --police-titre: Arno Pro, Tribun ADF Std, serif;
}
