/*****************************************/
/*** Feuille de style Alligator NEWS  ***/
/***   ~ Thème global de la page ~   ***/
/***    Copyright: LÉPINE Thomas    ***/
/*************************************/

/*** Thème SPÉCIAL HALLOWEEN ***/
/*** NOTE : N'hésitez pas à ajouter la pluie de neige via le script JQuery (voir édition 7) ***/

:root {

    /*** PALETTE ***/
    --rouge-xmas: #CD010D;
    --or-xmas: #ffd700;
    --or-xmas-clair: #FAFAD2;
    --or-xmas-fonce: #FFAA0D;
    /*** ******* ***/

    /* Navbar */
    --pantone486C: var(--or-xmas);
    --navbar-hover: var(--or-xmas-fonce); /* Couleur hover navbar */
    --navbar-text: var(--rouge-xmas); /* Couleur textes navbar */
    --navbar-text-hover: var(--rouge-xmas); /* Couleur textes navbar en hover (souris sur la case) */
  
    /* Titres header */
    --title-color: var(--or-xmas); /* Couleur du grand titre */
    --shadow-color:  var(--or-xmas-clair); /* Couleur des ombres */
    --title-span-color: var(--or-xmas); /* Couleur titre "span" -> sans pubs et sans cookies */
  
    /* Corps de la page */
    --background-header-color: var(--rouge-xmas); /* Couleur (background) du header */
    --background-color: var(--rouge-xmas); /* Couleur du fond global */
    --background-article-color: var(--or-xmas-clair); /* Fond des articles */
  
    /* Footer */
    --background-footer-color: #303030; /* Fond du footer */
    --text1-footer: var(--or-xmas-clair); /* Textes footer (important) */ 
    --text2-footer: var(--or-xmas); /* Textes footer */
  
    /* Polices d'écritures */
    --polices-global: Calibri, serif;
    --police-titre: font_noel, Arno Pro, cursive;
  }
  
  /*** POLICE D'ÉCRITURE POUR LE THEME : ***/
  @font-face {
    font-family: "font_noel";
    src: url("../../ressources/images/global/themes/xmas/SantassleighfullBold.ttf");
  }

 #logo_edition {
    background-image: url("../../ressources/images/global/themes/xmas/xmas_ball.png");
    background-position: 95%;
    background-size: contain;
    background-repeat: repeat;
  }

  /*** REDEFINITION DE CLASSES CSS POUR LE THEME : ***/
  .titre h1 {
    text-shadow: var(--shadow-color) 0.03em 0.02em 0.02em;
  }
  .navbar {
    background: content-box linear-gradient(var(--or-xmas), var(--or-xmas-clair));
    /* background: linear-gradient(to right, var(--or-xmas) 0%, var(--or-xmas-clair) 20%, var(--or-xmas-clair) 60%, var(--or-xmas) 100%); */
  }
  .navbar a:hover {
    background: linear-gradient(var(--or-xmas-clair), var(--or-xmas));;
  }
  .footer hr {
    background-color: var(--or-xmas);
  }
  .footer h2
  {
    color: var(--or-xmas-fonce);
  }
  .footer h4 {
    color: var(--or-xmas);
  }
  @media screen and (min-width: 760px){ /* Resolution d'une fenêtre sur un PC / tablette */
    .titre h1 {
      font-size: 4.62rem;
    }
    img.img_easter_egg {
      width: 60%;
    }
  }
  @media screen and (max-width: 760px) { /* Resolution d'un  portable  */
    .titre h1 {
      font-size: 4rem;
    }
    img.img_easter_egg {
      width: 95%;
    }
}