/***************************************/
/** Feuille de style Alligator NEWS  **/
/** Copyright :                     **/
/** LÉPINE Thomas                  **/
/***********************************/

/********************************************/
/** Présentation Editions depuis la menu  **/
/******************************************/
.Pop_New_MenuView {
  background-color: var(--background-color);
  padding: 20px 20px;
}
.Pop_New_MenuView a {
  text-decoration: none;
  display: block;
  padding: 10px 10px;
  margin: 10px auto;
}
.Pop_New_MenuView a:hover {
  background-color: var(--background-article-color);
}
.Pop_New_MenuView h2 {
  text-align: center;
  text-decoration: underline;
  text-shadow: 0.01em 0em 0.01em;
  font-size: 30px;
}
.Pop_New_MenuView img {
  width: 60%;
  display: block;
  /* Permet de centrer l'image (le transform en un 'block') */
  margin: auto;
}
.Pop_New_MenuView p {
  text-align: justify;
  font-size: 17.5px;
  padding-bottom: 5px;
}
.Edition_MenuView {
  color: black;
  /* Couleur du texte */
  background-color: var(--background-article-color);
  padding: 10px 20px;
}

/************************/
/** Responsive layout **/
/**********************/
@media screen and (max-width: 768px) {
  /* Resolution d'un  portable */
  .Pop_New_MenuView img {
    width: 98%;
  }
}