/************************************/
/* Feuille de style Alligator NEWS  */
/* Copyright :                      */
/* PERCEREAU Lucas                  */
/* LÉPINE Thomas                    */
/************************************/

* {
  box-sizing: border-box;
}
body {
  font-family: var(--polices-global); /*Calibri, Arial, sans-serif;*/
  margin: 0;
}
/*********/
/* Header */
/**********/
.header {
  background: var(--background-header-color);
  display: flex;
}
.titre {
  flex: 62%;
  color: var(--title-color);
  text-align: center;
  margin: auto;
}
.titre h1 {
  margin: auto;
  margin-top: 30px;
  font-size: 64px;
  font-family: var(--police-titre); /*Arno Pro, Tribun ADF Std, serif;*/
  text-shadow: var(--shadow-color) 0.1em 0.1em 0.1em;
}
.titre p {
  text-align: center;
  text-decoration: none;
  font-size: 18.2px;
  text-shadow: var(--shadow-color) 0.01em 0.005em 0.001em;
  margin-top: 16px;
  margin-bottom: 6px;
}
.titre span {
  color: var(--title-span-color);
  font-size: 15px;
  letter-spacing: 0.137em;
  font-weight: 100;
  font-style: italic;
  padding-bottom: 10px;
}
.LogoPolytech {
  float: left;
  flex: 20%;
  margin: auto;
}
.LogoPolytech img{
  float: left;
  margin-left: 28px;
}
.LogoAlligator {
  float: right;
  flex: 20%;
  margin: auto;
}
.LogoAlligator img{
  float: right;
  margin-right: 28px;
}
/***********************/
/* Barre de navigation */
/***********************/
.navbar {
  display: flex;
  background-color: var(--pantone486C);
  width: 100%;
  top: 0;
}
.navbar a {
  color: var(--navbar-text);
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  padding: 18px 60px;
  text-decoration: none;
  display: block;
}
.navbar a:hover {
  background-color: var(--navbar-hover);
}
.navbar hr {
  background-color: var(--navbar-hover);
  height: 1px;
  border: 0;
  margin-top: 0px;
  margin-bottom: 0px;
}

/***********************/
/*   Menu deroulant    */
/***********************/
.sous{
  display: none;
  background-color: var(--pantone486C);
  position: absolute;
  width: 100%;
}
.navbar > ul li:hover .sous{
  display: block;
}
.navbar ul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.navbar ul li{
  width: 100%;
  position: relative;
}
.sous a{
  padding: 10px;
  font-size: 16px;
  font-weight: normal;
}
.deroulant > a::after{
  content:"  ▼  ";
  font-size: 14px;
}

/*Symbole "NEW" */
.plop_new {
  text-shadow: black 0.01em 0.05em 0.05em; color: red; float: right; margin-right: 10px; padding-bottom: 5px; font-style: italic; font-size: 20px;
}

/***********************/
/* Éléments commun à "Edition" et "Article" */
.legende_photo {
  margin-top: 5px;
  margin-bottom: 12px;
  text-indent: none;
  font-size: 13.5px;
  text-align: center;
  font-style: italic;
  font-weight: 200;
  color: #4D4D4D;
}
.signature {
  padding-top: 10px;
  padding-bottom: 11px;
  padding-right: 4px;
  font-size: 16px;
  float: right;
  font-style: italic;
  color: black;
  letter-spacing: 0.07em;
}

/**********/
/* Footer */
/**********/
.footer {
  text-align: center;
  background: var(--background-footer-color);
  width: 100%;
  padding: 0px 16px;
  z-index: 1;
}
.footer h2 { /* Gros titre du footer */
  color: var(--text1-footer);
  text-decoration: underline;
  margin: 15px auto;
  font-size: 27px;
}
.footer h4 { /* mail*/
  color: var(--text1-footer);
  text-decoration: none;
  font-weight: lighter;
  margin: 0 auto;
  font-size: 20px;
}
.footer a { /* Soulignement du mailto */
  text-decoration: none;
}
.footer h5 { /* texte mis en valeur */
  color: var(--text2-footer);
  margin: 10px auto;
  font-size: 18px;
}
.footer p { /* texte lambda */
  color: var(--text2-footer);
  font-size: 16px;
  margin: 3px auto;
}
.footer table p { /* texte lambda */
  color: var(--text2-footer);
  font-size: 18px;
  margin: 6px 10px;
}
.footer hr { /* Barre horizontalle séparatrice */
  background-color: rgb(155,155,155);
  height: 2px;
  border: 0;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 69px;
  margin-right: 69px;
}
.footer img {
  width: 4.6%;
  margin: 11px 24px;
}
.footer p img { /* Ancienne version en colonne */
  vertical-align: middle;
  width: 3%;
  margin: auto;
  margin-left: 3px;
  margin-bottom: 5px;
}
.footer table p img { /* Version tableau*/
  vertical-align: middle;
  width: 8%;
  margin: auto;
  margin-bottom: 5px;
}
/**********/

/*********************/
/* Responsive layout */
/*********************/
@media screen and (max-width: 760px) { /* Resolution d'un  portable  */
  .row, .navbar {
    flex-direction: column;
  }
  .titre h1 {
    font-size: 46px;
  }
  .titre p {
    font-size: 14px;
    margin-bottom: 2.5px;
  }
  .titre span {
    font-size: 11px;
  }
  .LogoPolytech img{
    width: 115%;
    margin-left: 6px;
  }
  .LogoAlligator img{
    width: 100%;
    margin-right: 6px;
  }
  .footer h4 {
    font-size: 16px;
  }
  .footer h5 {
    font-size: 15px;
  }
  .footer p {
    font-size: 13.5px;
  }
  .footer table p {
    font-size: 15px;
  }
  .footer img {
    width: 10%;
    margin: 5px 30px;
  }
  .footer table p img {
    width: 18%;
    padding-left: 2.5px;
    padding-bottom: 5px;
	display: flex;
	text-align:center;
  }
  .footer p img {
    width: 6%;	
    margin-left: 3px;
    margin-bottom: 5px;
  }
  td.name_right_footer {
	text-align:center;
  }
  td.name_left_footer {    
	text-align:center;
  }
}
@media screen and (min-width: 760px){ /* Resolution d'une fenêtre sur un PC / tablette */
  .navbar {
    position: sticky;
    z-index: 2;
  }
  .LogoAlligator img{
    max-width: 60%;
    max-height: 60%;
  }
  .LogoPolytech img{
    max-width: 70%;
    max-height: 70%;
  }
  td.name_right_footer {
	text-align:right;
  }
  td.name_left_footer {
	text-align:left;
  }
}