/************************************/
/* Feuille de style Alligator NEWS  */
/* Copyright :                      */
/* PERCEREAU Lucas                  */
/* LÉPINE Thomas                    */
/************************************/

/*************************/
/* Présentation Articles */
/*************************/
.mainMenuArticle {
  background-color: #004875;
}
.mainMenuArticle a {
  color: black;
  display: block;
  text-decoration: none;
  padding: 10px 10px;
}
.mainMenuArticle a:hover {
  background-color: #FDF5E6;
}
.Article {
  background-color: #FDF5E6;
  padding: 2px 4px;
  display: flex;
  height: 100%;
}
/*************************/

/*************************/
/*************************/

/********************/
/* Articles complet */
/********************/
.mainArticle {
  background-color: #004875;
}
.FullArticle {
  background-color: #FDF5E6;
  padding: 14px 30px;
}
.FullArticle p {
  text-align: justify;
  text-indent: 30px;
  line-height: 140%;
  margin: 4px auto;
}
.FullArticle p a {
  text-decoration: underline;
  color: inherit;
  font-weight: 600;
}
.FullArticle h2 {
  text-align: center;
  font-size: 36px;
  margin: 12px;
}
.FullArticle h4 {
  text-align: center;
  font-size: 20px;
}
.FullArticle img {
  display: block; /* Permet de centrer l'image (le transform en un 'block') */
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  margin-bottom: 10px;
  width: 22%;
}
.FullArticle hr { /* Barre horizontalle séparatrice */
  color: #004875;
  background-color: #004875;
  height: 2px;
  border: 0;
  margin-bottom: 10px;
  margin-left: 32px;
  margin-right: 32px;
}
table.img_inligne {
  text-align: center;
  font-style: italic;
  font-weight: 200;
  font-size: 13.5px;
  color: #4D4D4D;
}
table.img_inligne img {
  width: 48%;
  height: 48%;
  margin-top: 12px;
}
.left {
  /*background-color: #FDF5E6;*/
  padding: 5px;
  flex: 35%;
  display:block; /* Permet de centrer l'image (le transform en un 'block') */
  margin: auto;
}
.left img {
  width: 100%;
}
.right {
  float: right;
  padding: 5px;
  flex: 65%;
  flex-direction: column;
  display:block; /* Permet de centrer le 'block' */
  margin: auto;
}
.upRight{
  display: 20%;
  text-align: center;
  padding: 1px 10px;
  text-shadow: 0.01em 0em 0.01em;
  font-size: 20px;
  text-decoration:underline;
}
.downRight{
  text-align: justify;
  display: 80%;
  padding-right: 10px;
  padding-left: 5px;
}
/*Symbole "NEW" */
.Horrodatage {
  color: rgb(160,160,160);
  font-size: 16px;
  float: right;
  letter-spacing: 0.14em;
  font-weight: 100;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 4px;
}
/********************/
/********************/

/*********************/
/* Responsive layout */
/*********************/
@media screen and (max-width: 760px) { /* Resolution d'un  portable */
  .mainArticle {
    padding: 5px 15px;
  }
  .mainMenuArticle {
    padding-left: 20px;
    padding-right: 20px;
  }
  .Article {
    padding: 4px 5px;
  }
  .FullArticle {
    padding: 12px 20px;
  }
  .FullArticle img {
    width: 65%;
  }
  table.img_inligne img {
    display: block;
    min-width: 98%;
    height: auto;
  }
}
@media screen and (min-width: 760px){ /* Resolution d'une fenêtre sur un PC  / tablette  */
  .mainArticle {
    padding: 10px 25px;
  }
  .mainMenuArticle {
    padding: 15px 5px;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
  }
  .mainMenuArticle a {
    max-width: 50%; /* Permet d'avoir 2 articles sur la même ligne dans le menu */
    margin: 0 auto;
  }
  .Article {
    width: 100%;
    margin: 0 auto;
  }
}
/*********************/
/*********************/
