/***************************************/
/** Feuille de style Alligator NEWS  **/
/** Copyright :                     **/
/** PERCEREAU Lucas                **/
/** LÉPINE Thomas                 **/
/**********************************/

/****************************/
/** Présentation Articles **/
/**************************/
.mainMenuArticle {
  background-color: var(--background-color);
  padding: 15px 10px;
}
.mainMenuArticle a {
  color: black;
  display: block;
  text-decoration: none;
  padding: 8px 10px;
}
.mainMenuArticle a:hover {
  background-color: var(--background-article-color);
}
.Edition {
  border-bottom-style: solid;
  border-bottom-width: 30px;
  border-block-end-color: var(--background-article-color);
}
.Article {
  background-color: var(--background-article-color);
  padding: 2px 4px;
  display: flex;
  height: 100%;
}

/***********************/
/** Articles complet **/
/*********************/
.mainArticle {
  background-color: var(--background-color);
}
.FullArticle {
  background-color: var(--background-article-color);
  padding: 14px 30px;
}
.FullArticle p {
  text-align: justify;
  text-indent: 30px;
  line-height: 140%;
  margin: 4px auto;
}
.FullArticle p a {
  text-decoration: underline;
  color: inherit;
  font-weight: 600;
}
.FullArticle h2 {
  text-align: center;
  font-size: 24px;
  margin: 14px auto;
}
.FullArticle h3 { /* Slogan des rubriques */
  color: #444;
  text-align: center;
  font-size: 18px;
  margin: 15px auto;
  letter-spacing: 0.08em;
  font-weight: lighter;
}
.FullArticle h4 {
  text-align: center;
  font-size: 20px;
}
.FullArticle img {
  display: block; /* Permet de centrer l'image (le transform en un 'block') */
  margin: 12px auto;
  width: 30%;
}
.FullArticle hr { /* Barre horizontalle séparatrice */
  color: var(--background-color);
  background-color: var(--background-color);
  height: 2px;
  border: 0;
  text-align: center;
  margin: 6px 18px;
}
table.img_inligne {
  text-align: center;
  font-style: italic;
  font-weight: 200;
  font-size: 13.5px;
  color: #4D4D4D;
  margin: 5px auto;
}
table.img_inligne img {
  width: 48%;
  height: 48%;
  margin-top: 12px;
}
.left {
  padding: 5px;
  flex: 35%;
  display:block; /* Permet de centrer l'image (le transform en un 'block') */
  margin: auto;
}
.left img {
  width: 100%;
}
.right {
  float: right;
  padding: 5px;
  flex: 65%;
  flex-direction: column;
  display:block; /* Permet de centrer le 'block' */
  margin: auto;
}
.upRight{
  display: 20%;
  text-align: center;
  padding: 1px 10px;
  text-shadow: 0.01em 0em 0.01em;
  font-size: 20px;
  text-decoration:underline;
}
.downRight{
  text-align: justify;
  display: 80%;
  padding-right: 10px;
  padding-left: 5px;
}
.Horrodatage {
  color: rgb(160,160,160); font-size: 16px; float: right; letter-spacing: 0.14em; font-weight: 100; padding-top: 10px; padding-bottom: 8px; padding-left: 4px;
}
img.img_titre_article {
  display: block;
  margin: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 50%;
}
.footer img.img_easter_egg {
  width: 16%;
  margin: 0 auto;
}

/************************/
/** Responsive layout **/
/**********************/
@media screen and (max-width: 768px) { /* Resolution d'un  portable */
  .mainArticle {
    padding: 20px 15px;
  }
  .mainMenuArticle a {
    margin: 10px auto;;
  }
  .Article {
    padding: 4px 5px;
  }
  .FullArticle {
    padding: 12px 20px;
  }
  .FullArticle img {
    width: 70%;
  }
  table.img_inligne img {
    display: block;
    min-width: 98%;
    height: auto;
  }
  img.img_titre_article {
    width: 100%;
  }
  .FullArticle hr { /* Barre horizontalle séparatrice */
    margin: 5px 0px;
  }
}
@media screen and (min-width: 768px){ /* Resolution d'une fenêtre sur un PC  / tablette  */
  .mainArticle {
    padding: 25px 25px;
  }
  .mainMenuArticle {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
  }
  .mainMenuArticle a {
    max-width: 50%; /* Permet d'avoir 2 articles sur la même ligne dans le menu */
    margin: 5px auto;
  }
  .Article {
    width: 100%;
    margin: 0 auto;
  }
}