/***************************************/
/** Feuille de style Alligator NEWS  **/
/** Copyright :                     **/
/** LÉPINE Thomas                  **/
/***********************************/

/********************************************/
/** Présentation Editions depuis la menu  **/
/******************************************/
.Pop_New_MenuView {
  background-color: var(--background-color);
  padding: 20px 20px;
}
.Pop_New_MenuView a {
  text-decoration: none;
  display: block;
  padding: 10px 10px;
  margin: 10px auto;
}
.Pop_New_MenuView a:hover {
  background-color: var(--background-article-color);
}
.Pop_New_MenuView h2 {
  text-align: center;
  text-decoration: underline;
  text-shadow: 0.01em 0em 0.01em;
  font-size: 30px;
}
.Pop_New_MenuView img {
  width: 60%;
  display: block; /* Permet de centrer l'image (le transform en un 'block') */
  margin: auto;
}
.Pop_New_MenuView p {
  text-align: justify;
  font-size: 17.5px;
  padding-bottom: 5px;
}
.Edition_MenuView {
  color: black; /* Couleur du texte */
  background-color: var(--background-article-color);
  padding: 2px 20px;
}
.Edition_MenuView h6 {
  text-align: center;
  font-size: 18px;
  margin: 5px 0px;
  letter-spacing: 0.04em;
}
/**************************************/

/*****************************************/
/** Editions les différentes rubriques **/
/***************************************/
.EditionBlockWraped article {
  color: black;
  display: block;
  text-decoration: none;
  padding: 10px 10px;
  z-index: 2;
}
.Edition {
  background-color: var(--background-article-color);
  padding: 6px 6px;
  display: flex;
  height: 100%;
}
.EditionBig {
  padding: 2px 18px;
  margin-bottom: -8px;
}
.EditionBig article {
  padding: 10px 0px;
}
div.Edition {
  position: relative;
  z-index: 2;
}
.Edition hr { /* Barres horizontales */
  background: var(--background-color);
}
.containerTheme {
  background-color: var(--background-color);
  padding-bottom: 10px;
}
/*************************/

/***************************/
/**  Editions completes  **/
/*************************/
.FullArticle {
  background-color: var(--background-article-color);
  padding: 2px 15px;
  height: 100%;
  margin: 0px auto;
}
.FullArticle p {
  text-indent: 30px;
  line-height: 140%;
  text-align: justify;
  margin: 4px auto;
  /* font-size: 17px; */
}
p.link {
  text-indent: inherit;
  color: #666666;
  padding-top: 6px;
  padding-bottom: 14px;
}
p.link a{
  text-decoration: underline;
  color: #666666;
}
.FullArticle h2 { /* Sous partie rubrique */
  text-align: center;
  text-decoration: underline;
  font-size: 26px;
  margin: 16px 0px;
  letter-spacing: 0.04em;
}
.FullArticle h3 { /* Slogan des rubriques */
  color: #444;
  text-align: center;
  font-size: 18px;
  margin: 16px auto;
  letter-spacing: 0.08em;
  font-weight: lighter;
}
.FullArticle h4 { /* Question titre */
  font-size: 16px;
  margin: 14px 0px;
  letter-spacing: 0.04em;
}
.FullArticle h6 { /* Titre sujet Rotagilla ou petit titre accrocheur */
  text-align: center;
  font-size: 18px;
  margin: 5px 0px;
  letter-spacing: 0.04em;
}
.FullArticle h5 { /* Filières horoscope */
  color: #191970;
  text-decoration: overline underline;
  text-align: center;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.EditionBlockWraped img.img_article {
  display: block;
  margin: 8px auto;
  width: 50%;
}
.EditionBig img.img_article {
  display: block;
  margin: auto;
  width: 28%;
}
#img_mot_debut {
  display: flex;
  margin: 10px auto;
  width: 90%;
}
img.img_titre_article {
  display: block;
  margin: auto;
  padding: 1px 0px;
  width: 85%;
}
img.img_titre_popBig {
  display: block;
  padding: 8px 0;
  margin: 10px auto;
  width: 58%;
  position: relative;
  z-index: 1;
}
.cadre {
  display:block; /* Permet de centrer l'image (le transform en un 'block') */
  margin: auto;
  border-color: #995231 #4D2411;
  border-style: solid;
  border-width: 10px;
  width: 44%;
  margin-bottom: 10px;
}
.legende {
  font-style: italic;
  text-align: center;
  margin: 8px auto;
  margin-top: 4px;
  color: #333;
}
.FullArticle hr {
  height: 2px;
  border: 0;
  text-align: center;
  margin: 6px 16px;
}
table.img_inligne {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 2px solid black;
  text-align: center;
  margin: 0 auto;
}
table.img_inligne img{
  width: 70%;
  padding-top: 6px;
  margin: 0 auto;
}
table.img_inligne video{
  width: 92%;
  padding: 5px 0px;
  margin: 0 auto;
}
table.img_inligne2 { /* Sans bordure */
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  margin: 0 auto;
}
table.img_inligne2 img{
  width: 70%;
  padding-top: 6px;
  margin: 0 auto;
}
td.texte {
  text-align: justify;
  padding: 4.5px 9px;
  border: 1px solid black;
}
td.texte a{
  color: #1f0404;
  text-decoration: underline;
}
td.titre {
  text-align: center;
  padding: 4px 4px;
  border: 1px solid black;
  font-weight: bolder;
  color: #D4145A;
  font-size: 18px;
}
td.titre2 {
  text-align: center;
  padding: 2.5px 2.5px;
  border: 1px solid black;
  font-weight: bolder;
  color: #004875;
  font-size: 17px;
}
td.image {
  text-align: center;
  padding: 3px 20px;
  border: 1px solid black;
}
td.legende {
  text-align: center;
  font-style: italic;
  font-weight: 200;
  font-size: 16px;
  padding: 5px 0px;
  color: #4D4D4D;
  border: 1px solid black;
}
td.legende2 {
  text-align: center;
  font-style: italic;
  font-weight: 200;
  font-size: 16px;
  padding: 3px 0px;
  color: #333;
}
td.img {
  text-align: center;
  border: 1px solid black;
}
td.imbrique img {
  width: 98%;
  margin: 0 auto;
}
td.legende a {
  color: #4D4D4D;
  text-decoration: underline;
}
img#image_alligator_news_mot_fin {
  width:24%;
  display:block;
  margin: 5px auto;
}
img.img_easter_egg {
  width: 18%;
  margin: 0 auto;
}
.citation p{
  font-size: 15px;
}
.citation i{
    letter-spacing: 0.1em;
    font-weight: lighter;
}
a.download {
  text-decoration: underline;
  color: black;
  font-weight: bold;
}
a.mail_link {
  text-decoration: underline;
  color: black;
  font-weight: lighter;
}
/*************************************/

/***********  Vidéos YouTube *************/
.video_youtube {
  display: block;
  margin: 0 auto;
  width: 96%;
  height: 18rem;
}

/** ******* /!\ ******* **/
/************************/
/** Responsive layout **/
/**********************/
@media screen and (max-width: 768px) { /* Resolution d'un  portable */
  .Pop_New_MenuView img {
    width: 98%;
  }
  .mainEdition {
    padding-left: 20px;
    padding-right: 20px;
  }
  .EditionBlockWraped {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -15px;
  }
  .EditionBlockWraped article{
    padding: 10px 8px;
  }
  .EditionBlockWraped img.img_article {
    width: 80%;
  }
  .Edition {
    padding: 4px 5px;
  }
  .EditionBig{
	  padding: 5px 10px;
  }
  .EditionBig article {
    padding: 10px 8px;
  }
  .FullArticle {
    padding: 4.5px 15px;
  }
  .FullArticle h4 { /* Question titre */
    font-size: 15px;
  }
  .FullArticle video {
    width: 78%;
    padding: 15px 0px;
    margin: 0 auto;
    display: flex;
  }
  table.img_inligne img {
    text-align: center;
    padding: 0px 5px;
    width: 98%;
  }
  td.texte {
    padding: 5px 12px;
    text-align: center;
  }
  td.legende {
    font-size: 12px;
  }
  .EditionBig img.img_article {
    width: 80%;
  }
  img.img_titre_article {
    width: 100%;
  }
  img.img_titre_popBig {
    width: 98.5%;
  }
  .cadre {
    border-width: 8px;
    width: 52%;
  }
  .FullArticle hr {
    margin: 6px 0px;
  }
  img.img_easter_egg {
    width: 40%;
  }
  .citation p{
    font-size: 13px;
  }
  .video_youtube {
    width: 100%;
    height: 12rem;
  }
}
@media screen and (min-width: 768px){ /* Resolution d'une fenêtre sur un PC  / tablette  */
  .EditionBlockWraped {
    padding: 0 8px;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
  }
  .EditionBlockWraped article {
    max-width: 50%; /* Permet d'avoir 2 Editions sur la même ligne dans le menu */
    margin: 0 auto;
  }
  .Edition {
    width: 100%;
    margin: 0 auto;
  }
  .FullArticle video {
    width: 50%;
    padding: 15px 0px;
    margin: 0 auto;
    display: flex;
  }
}